/* src/styles/app.css */

.App {
  display: flex;
  flex-direction: column;
}

.nasa-logo {
  margin: auto;
  width: 500px;
}

@media (max-width: 450px) {
  .nasa-logo {
    width: 90%;
    height: auto;
  }
}