/* src/styles/search.css */

.search-form {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.search-form__input {
  border-radius: 10px;
  height: 50px;
  width: 30%;
  font-size: 20px;
  padding: 0 10px;
}

.search-form__button {
  width: 70px; 
  height: 50px;
  font-size: 25px;
  border-radius: 10px;
  margin-left: 5px;
}